<div class="contenedor">
    <div class="row content">
      <div class="col-lg-12">
  
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 feed-titles">
            Tendencias
          </div>
          <div class="col-lg-1"></div>
        </div>
  
        <div class="row">
          <div class="col-lg-1"></div>
          <app-feed-video class="col-lg-2 video-cell"
            *ngFor="let video of arregloVideosTendencias"
            [miniatura]="video.miniatura"
            [titulo]="video.titulo"
            [usuario]="video.usuario"
            [visualizaciones]="video.visualizaciones"
            [fecha]="video.fecha"
          ></app-feed-video>  
          <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 feed-titles">
              Recomendados
            </div>
            <div class="col-lg-1"></div>
          </div>
    
          <div class="row">
            <div class="col-lg-1"></div>
            <app-feed-video class="col-lg-2 video-cell"
            *ngFor="let video of arregloVideosRecomendados"
            [miniatura]="video.miniatura"
            [titulo]="video.titulo"
            [usuario]="video.usuario"
            [visualizaciones]="video.visualizaciones"
            [fecha]="video.fecha"
          ></app-feed-video> 
            <div class="col-lg-1"></div>
          </div>
      
      </div>
    </div>
  </div>