<div class="contenedor">
  <div class="row content">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-lg-10" style="width: 100%; padding-left: 2%; border-bottom: 1px solid gray;">
          <div class="row" style="padding: 2%">
            <div class="col-lg-3" style="width: 33%">
              <div class="row justify-content-sm-center" style="padding: 3%">
                <img src="https://image.flaticon.com/icons/svg/26/26805.svg" alt="trending-music" height="80">
              </div>
              <div class="row justify-content-sm-center">
                Music
              </div>
            </div>
            <div class="col-lg-3" style="width: 33%">
              <div class="row justify-content-sm-center" style="padding: 3%">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Video-Game-Controller-Icon.svg/1024px-Video-Game-Controller-Icon.svg.png" alt="trending-games" height="80">
              </div>
              <div class="row justify-content-sm-center">
                Games
              </div>
            </div>
            <div class="col-lg-3" style="width: 33%">
              <div class="row justify-content-sm-center" style="padding: 3%">
                <img src="https://cdn6.aptoide.com/imgs/9/6/6/966799f485834515f7e2d29a92dd407e_icon.png?w=240" alt="trending-movie" height="80">
              </div>
              <div class="row justify-content-sm-center">
                Movies
              </div>
            </div>
          </div>
          <div class="row">
  
          </div>
        </div>
  
        <div class="col-lg-1"></div>
      </div>

      <div class="row" style="margin-top: 2%">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4 my-auto">
              <img src="https://i.ytimg.com/vi/1GS7wxWPaxc/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCWmH-xtJRDUOs2eKBWEruVdYeYxA" width="100%">
            </div>
            <div class="col-lg-8">
              <div class="row" style="height: 30%; font-weight: bold; padding-left: 2%;">
                  Paulo Londra - Solo Pienso en Ti ft. De La Ghetto, Justin Quiles (Official Video)
              </div>
              <div class="row" style="height: 20%; color: gray; padding-left: 2%;">
                  Paulo Londra 23 M visualizaciones Hace 5 días
              </div>
              <div class="row" style="height: 50%; color: gray; padding-left: 2%;">
                  Paulo Londra ft De La Ghetto, Justin Quiles "Solo Pienso en Ti" (Spotify) ▶ (Apple) ▶ (YT Music) ▶ Visit Paulo Londra online: https://www.instagram.com/Paulolondra Visit De La Ghetto online:
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>

      <div class="row" style="margin-top: 2%">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4 my-auto">
              <img src="https://i.ytimg.com/vi/DArWpUOD7uY/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLBiUyGuVfxk3Zb2tIAMaN9xkRjwKg" width="100%">
            </div>
            <div class="col-lg-8">
              <div class="row" style="height: 30%; font-weight: bold; padding-left: 2%;">
                  Ven Y Hazlo Tú 💰 - Nicky Jam x J Balvin x Anuel AA x Arcángel | Video Oficial 
              </div>
              <div class="row" style="height: 20%; color: gray; padding-left: 2%;">
                  NickyJamTV 20 M visualizaciones Hace 4 días
              </div>
              <div class="row" style="height: 50%; color: gray; padding-left: 2%;">
                  Ven Y Hazlo Tú - Nicky Jam x J Balvin x Anuel AA x Arcangel Escucha todos mis éxitos en estas playlists de Spotify: 🔥Nación urbana: http://smarturl.it/NacionUrbana-Spotify 🔥Te Robaré, Nicky 
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>

      <div class="row" style="margin-top: 2%">
          <div class="col-lg-1"></div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-4 my-auto">
                <img src="https://i.ytimg.com/vi/kmq-BIbNcZQ/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLBQTdVaNP4F-w7rdaCm9XX142c1Lg" width="100%">
              </div>
              <div class="col-lg-8">
                <div class="row" style="height: 30%; font-weight: bold; padding-left: 2%;">
                    Kenia Os Reacciona a mi video…
                </div>
                <div class="row" style="height: 20%; color: gray; padding-left: 2%;">
                    Alex Flores 4,9 M visualizaciones Hace 1 día
                </div>
                <div class="row" style="height: 50%; color: gray; padding-left: 2%;">
                    Morritos les tengo un videaso el día de hoy después de que el universo conspirara y nos pusiera en el mismo set a mi invitada y a mi para aclarar todas las dudas y cosas inconclusas que quedaron e...
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3"></div>
        </div>

    </div>
  </div>
</div>