ion-title{
    text-align: center
}


ion-slides{
    background: #f04141;
    height: 52%;
    img {
        width: 100%;
    }
}

ion-button{
    height: 15%;
    text-transform: none;
    font-size: 100%;
}
