<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img src="//upload.wikimedia.org/wikipedia/commons/thumb/3/36/McDonald%27s_Golden_Arches.svg/120px-McDonald%27s_Golden_Arches.svg.png" alt="icon" height="30px">
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-list>
      <ion-item>
        <ion-label>6 de Diciembre y Patria</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Mall el Jardín</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Plaza de las America</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Centro Iñaquito</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Mall el Recreo</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Cumbaya</ion-label>
      </ion-item>
    </ion-list>
      

</ion-content>
