<div class="contenedor">
  <div class="row content">
    <div class="col-lg-12">
      <div class="row" style="padding: 2%">
        
        <div class="col-lg-1"></div>
        <div class="col-lg-10" style="height: 100%">  
          <div class="row"style="padding: 1%; height: 25%;">
            <div class="col-lg-12">
              <div class="row align-items-center">
                <img src="https://yt3.ggpht.com/a/AGF-l79lfc8ndf5dO9IRnHf_tn4rh-x8ob5I6b4wDg=s88-mo-c-c0xffffffff-rj-k-no" height="35px">
                <p style="padding-left: 2%; font-weight: bold">Smosh</p>
              </div>
              <div class="row">
                <div class="col-lg-3" style="padding-left: 0px; padding-right:2%">
                  <img src="https://i.ytimg.com/vi/yfKfZ2HA5rc/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLDrxiIVBzH835PPm7W0kCBk_91e6Q" width="100%">
                </div>
                <div class="col-lg-8">
                  <div class="row" style="height: 30%; font-weight: bold;">
                      EVERY ZODIAC SIGN EVERY
                  </div>
                  <div class="row" style="height: 20%; color: gray;">
                      Smosh 43 mil visualizaciones Hace 30 minutos
                  </div>
                  <div class="row" style="height: 50%; color: gray;">
                      Whether you're a weepy Cancer, a grounded Capricorn, or a fiery Leo, no one's immune to the power of the stars. This is EVERY ZODIAC SIGN EVER. CAST Courtney Miller (@co_mill) Shayne Topp (@super...
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </div>
          </div>

          <div class="row"style="padding: 1%; height: 25%;">
            <div class="col-lg-12">
              <div class="row align-items-center">
                <img src="https://yt3.ggpht.com/a/AGF-l79FnXNMF11HkS3JgmRsR-3NYqA7Iu2LaAq9sw=s88-mo-c-c0xffffffff-rj-k-no" height="35px">
                <p style="padding-left: 2%; font-weight: bold">Los Vlogs de Dross</p>
              </div>
              <div class="row">
                <div class="col-lg-3" style="padding-left: 0px; padding-right:2%">
                  <img src="https://i.ytimg.com/vi/63xiEQaRcUk/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLDxjLDmKGfBYWcuM3TSfeZzVvVGeQ" width="100%">
                </div>
                <div class="col-lg-8">
                  <div class="row" style="height: 30%; font-weight: bold;">
                      El garbanzo de Mussolini
                  </div>
                  <div class="row" style="height: 20%; color: gray;">
                      Los Vlogs de Dross 22 mil visualizaciones Hace 57 minutos
                  </div>
                  <div class="row" style="height: 50%; color: gray;">
                      Visiten a @RKazumii en Twitter (hace cómics sobre Mussolini).
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </div>
          </div>

          <div class="row"style="padding: 1%; height: 25%;">
            <div class="col-lg-12">
              <div class="row align-items-center">
                <img src="https://yt3.ggpht.com/a/AGF-l7-bz9KIdW7EUwOc4RRP9c53WOTPjuMKklz2ZA=s88-mo-c-c0xffffffff-rj-k-no" height="35px">
                <p style="padding-left: 2%; font-weight: bold">alexelcapo</p>
              </div>
              <div class="row">
                <div class="col-lg-3" style="padding-left: 0px; padding-right:2%">
                  <img src="https://i.ytimg.com/vi/A3C0wkPIos4/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLDXEqK66zuLT8_C6SnzSlkhDm6OLg" width="100%">
                </div>
                <div class="col-lg-8">
                  <div class="row" style="height: 30%; font-weight: bold;">
                      FINAL - Rage 2 - Directo 5 
                  </div>
                  <div class="row" style="height: 20%; color: gray;">
                      alexelcapo 6,9 mil visualizaciones Hace 5 horas
                  </div>
                  <div class="row" style="height: 50%; color: gray;">
                      Si quieres apoyar al canal puedes comprar en Amazon usando este enlace: http://amzn.to/2o4v7gz SOCIAL ►Sígueme en Twitter: https://twitter.com/EvilAFM ►Sígueme en Twitch.tv: 
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </div>
          </div>

          <div class="row"style="padding: 1%; height: 25%;">
            <div class="col-lg-12">
              <div class="row align-items-center">
                <img src="https://yt3.ggpht.com/a/AGF-l7-9ZQEm1PZgVyNGsMjyQ6rHwZBtBwoLglyDbQ=s88-mo-c-c0xffffffff-rj-k-no" height="35px">
                <p style="padding-left: 2%; font-weight: bold">Profe Sang</p>
              </div>
              <div class="row">
                <div class="col-lg-3" style="padding-left: 0px; padding-right:2%">
                  <img src="https://i.ytimg.com/vi/sMmTWcQAEQM/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAz29gHAQ_etdIL1FiF0Sg7gAo33A" width="100%">
                </div>
                <div class="col-lg-8">
                  <div class="row" style="height: 30%; font-weight: bold;">
                    Google prohíbe a Huawei el uso de Android (Guerra comercial entre EEUU y China) 
                  </div>
                  <div class="row" style="height: 20%; color: gray;">
                      Profe Sang 1,4 mil visualizaciones Hace 11 horas
                  </div>
                  <div class="row" style="height: 50%; color: gray;">
                      Google ha prohibido a Huawei el uso de Android, mira en este video de que se trata. #profesang #HuaweivsGoogle #EEUUvsHuawei SUSCRIBETE A ESTE CANAL: http://bit.ly/SuscribeProfeSang Nos 
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</div>
