<div class="contenedor">
  
  <div class="row header">

    <div class="col-md-2">
      <div class="row">
        <div class="col-md-3 center-align">
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg" height="30">
        </div>
        <div class="col-md-9 left-align">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Logo_of_YouTube_%282015-2017%29.svg" alt="youtube-icon" height="30">
        </div>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
          <table>
            <tr>
              <th width="100%">
                <input style="border:none" type="text" name="search" size="12" value="Search">
              </th>
              <th>
                <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" alt="search" height="15">
              </th>
            </tr>
          </table>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-3">
                <img src="https://cdn3.iconfinder.com/data/icons/audio-and-video-2/512/90-512.png" alt="upload-video" height="30">
            </div>
            <div class="col-sm-3">
                <img src="https://www.shareicon.net/data/128x128/2015/09/12/99848_apps_512x512.png" alt="apps" height="30">
            </div>
            <div class="col-sm-3">
                <img src="//cdn.onlinewebfonts.com/svg/img_364605.png" alt="messages" height="30">
            </div>
            <div class="col-sm-3">
                <img src="//cdn.onlinewebfonts.com/svg/img_419719.png" alt="notifications" height="30">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <img src="https://designdroide.com/imagesOrigin/abstract-user-icon-3.jpg" alt="user" height="30">
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    
    <div class="col-sm-2 list">
      <div class="row section">
          <div class="col-sm-12">
              <div class="row center-align item-list">
                  <div class="col-sm-3">
                    <img src="https://image.flaticon.com/icons/svg/25/25694.svg" alt="home" height="30">
                  </div>
                  <div class="col-sm-9">
                    Inicio
                  </div>
                </div>
                <div class="row center-align item-list">
                    <div class="col-sm-3">
                      <img src="http://cdn.onlinewebfonts.com/svg/img_560523.png" alt="trending" height="30">
                    </div>
                    <div class="col-sm-9">
                      Tendencias
                    </div>
                </div>
                <div class="row center-align item-list">
                    <div class="col-sm-3">
                      <img src="https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_subscriptions_48px-512.png" alt="sub" height="30">
                    </div>
                    <div class="col-sm-9">
                      Suscripciones
                    </div>
                </div>
          </div>
      </div>
      <div class="row section">
          <div class="col-sm-12">
              <div class="row center-align item-list">
                  <div class="col-sm-3">
                    <img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/63.png" alt="home" height="30">
                  </div>
                  <div class="col-sm-9">
                    Biblioteca
                  </div>
                </div>
                <div class="row center-align item-list">
                    <div class="col-sm-3">
                      <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_history_48px-512.png" alt="trending" height="30">
                    </div>
                    <div class="col-sm-9">
                      Historial
                    </div>
                </div>
          </div>
      </div>
      <div class="row section center-align item-list-title">
          <div class="col-sm-12">
              Inicia sesión para dar Me gusta a vídeos, añadir comentarios y suscribirte a canales.
          </div>
      </div>

      <div class="row section">
        <div class="col-sm-12">
          
          <div class="row item-list-title">
            <div class="col-sm-12">
              LO MEJOR DE YOUTUBE
            </div>
          </div>

          	<div class="row item-list">
              <div class="col-sm-3">
                <img src="https://www.shareicon.net//data/128x128/2016/08/01/639882_display_512x512.png" alt="music" height="30">
              </div>
              <div class="col-sm-9">
                Música
              </div>
            </div>

            <div class="row item-list">
              <div class="col-sm-3">
                <img src="https://www.shareicon.net/data/128x128/2015/12/29/695150_run_512x512.png" alt="sports" height="30">
              </div>
              <div class="col-sm-9">
                Deportes
              </div>
            </div>

            <div class="row item-list">
              <div class="col-sm-3">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/bde3849f-8b50-46e6-92fa-06b89b73054a/daaj71i-22f7bc6c-c729-4d9c-81e5-27e34a1003d2.png" alt="games" height="30">
              </div>
              <div class="col-sm-9">
                Videojuegos
              </div>
            </div>

            <div class="row item-list">
              <div class="col-sm-3">
                <img src="https://image.flaticon.com/icons/png/512/14/14711.png" alt="news" height="30">
              </div>
              <div class="col-sm-9">
                Noticias
              </div>
            </div>

            <div class="row item-list">
              <div class="col-sm-3">
                <img src="http://www.rosadesaron.co/wp-content/uploads/2014/07/streaming_logo.png" alt="live" height="30">
              </div>
              <div class="col-sm-9">
                En directo
              </div>
            </div>

            <div class="row item-list">
              <div class="col-sm-3">
                <img src="https://lateralvision.com.au/wp-content/uploads/2018/11/360-degree-video-icon-300x200.png" alt="360video" height="30">
              </div>
              <div class="col-sm-9">
                Video en 360º
              </div>
            </div>

        </div>
      </div>
      
      <div class="row section">
          <div class="col-sm-12">
        
                <div class="row item-list">
                  <div class="col-sm-3">
                    <img src="https://image.flaticon.com/icons/png/512/69/69301.png" alt="browse" height="30">
                  </div>
                  <div class="col-sm-9">
                    Explorar canales
                  </div>
                </div>
    
            </div>
      </div>

      <div class="row section">
          <div class="col-sm-12">
            
            <div class="row item-list-title">
              <div class="col-sm-12">
                MÁS DE YOUTUBE
              </div>
            </div>
  
              <div class="row item-list">
                <div class="col-sm-3">
                  <img src="https://image.flaticon.com/icons/png/512/23/23663.png" alt="premium" height="30">
                </div>
                <div class="col-sm-9">
                  YouTube Premium
                </div>
              </div>
  
              <div class="row item-list">
                <div class="col-sm-3">
                  <img src="http://www.rosadesaron.co/wp-content/uploads/2014/07/streaming_logo.png" alt="live" height="30">
                </div>
                <div class="col-sm-9">
                  Directo
                </div>
              </div>
  
              
          </div>
        </div>

        <div class="row section">
            <div class="col-sm-12">
                <div class="row item-list">
                  <div class="col-sm-3">
                    <img src="https://image.flaticon.com/icons/svg/17/17214.svg" alt="settings" height="30">
                  </div>
                  <div class="col-sm-9">
                    Configuración
                  </div>
                </div>
    
                <div class="row item-list">
                  <div class="col-sm-3">
                    <img src="http://pixsector.com/cache/89b8417a/av30af0a6ffb584d0e709.png" alt="informs" height="30">
                  </div>
                  <div class="col-sm-9">
                    Historial de informes
                  </div>
                </div>

                <div class="row item-list">
                    <div class="col-sm-3">
                      <img src="https://www.appgree.com/appgree-4biz/wp-content/uploads/sites/2/2016/07/Pregunta.png" alt="help" height="30">
                    </div>
                    <div class="col-sm-9">
                      Ayuda
                    </div>
                  </div>

                  <div class="row item-list">
                      <div class="col-sm-3">
                        <img src="https://image.flaticon.com/icons/png/512/7/7498.png" alt="suggest" height="30">
                      </div>
                      <div class="col-sm-9">
                        Enviar sugerencias
                      </div>
                    </div>  
            </div>
          </div>
    </div>
    <div class="col-sm-10">

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 feed-titles">
          Tendencias
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        
        <div class="col-sm-2 video-cell">
          <div class="row">
            <img src="https://i.ytimg.com/vi/OGca96afgtM/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCHzhqI5NsplVESFa7Mh5z3ewcKKA" alt="" height="120">
          </div>
          <div class="row video-titles">
              SONIC LA PELÍCULA Tráiler Español Latino DOBLADO (2019)
          </div>
          <div class="row video-info">
              SensaCine TRAILERS
          </div>
          <div class="row video-info">
              9,2 M visualizaciones
          </div>
          <div class="row video-info">
              Hace 6 días
          </div>
        </div>
        <div class="col-sm-2 video-cell">
          <div class="row">
            <img src="https://i.ytimg.com/vi/MRtvGj-XEH0/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLBTAalqfOiW2RenMZ2zn5vTqh1MsA" alt="" height="120">
          </div>
          <div class="row video-titles">
              FC Barcelona - Liverpool [3-0] | GOLES | Semifinal (IDA) | UEFA Champions League
          </div>
          <div class="row video-info">
              FOX Sports Sur
          </div>
          <div class="row video-info">
              7,1 M visualizaciones
          </div>
          <div class="row video-info">
              Hace 4 días
          </div>
        </div>
        <div class="col-sm-2 video-cell">
          <div class="row">
            <img src="https://i.ytimg.com/vi/sWK6eBYGZBM/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLB0KL7HAVc123O5l5nLuvdQoQKukA" alt="" height="120">
          </div>
          <div class="row video-titles">
              Becky G, Maluma - La Respuesta (Official Video)
          </div>
          <div class="row video-info">
              Becky G
          </div>
          <div class="row video-info">
              57 M visualizaciones
          </div>
          <div class="row video-info">
              Hace 2 semanas
          </div>
        </div>
        <div class="col-sm-2 video-cell">
          <div class="row">
            <img src="https://i.ytimg.com/vi/8cG1aVT-M-A/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLBbLiKfsTuwrJx5OVcM9wHGAvXyNA" alt="" height="120">
          </div>
          <div class="row video-titles">
              VENOM 2: CARNAGE (2020) Woody Harrelson Movie - Trailer Concept (HD)
          </div>
          <div class="row video-info">
              Billy Crammer
          </div>
          <div class="row video-info">
              6,9 M visualizaciones
          </div>
          <div class="row video-info">
              Hace 6 horas
          </div>
        </div>
        <div class="col-sm-2 video-cell">
          <div class="row">
            <img src="https://i.ytimg.com/vi/YkF4w6w27W0/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLBBnSR3KFGYAoI_87kKsg3hbG-PXw" alt="" height="120">
          </div>
          <div class="row video-titles">
              SPIDER-MAN LEJOS DE CASA Tráiler Español DOBLADO (2019)
          </div>
          <div class="row video-info">
              SensaCine TRAILERS
          </div>
          <div class="row video-info">
              4 M visualizaciones
          </div>
          <div class="row video-info">
              Hace 3 horas
          </div>
        </div>

        <div class="col-sm-1"></div>
      </div>
      <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10 feed-titles">
            Recomendados
          </div>
          <div class="col-sm-1"></div>
        </div>
  
        <div class="row">
          <div class="col-sm-1"></div>
          
          <div class="col-sm-2 video-cell">
            <div class="row">
              <img src="https://i.ytimg.com/vi/prrn2PZ5FWY/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLDfHQ9XI86LGSXROqTyEj04lYRh9g" alt="" height="120">
            </div>
            <div class="row video-titles">
                La Bella y La Bestia | #TeLoResumoAsiNomas 240
            </div>
            <div class="row video-info">
                Te lo resumo
            </div>
            <div class="row video-info">
                876 mil visualizaciones
            </div>
            <div class="row video-info">
                Hace 2 días
            </div>
          </div>
          <div class="col-sm-2 video-cell">
            <div class="row">
              <img src="https://i.ytimg.com/vi/KDI0hNDjJXg/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLA203n-mtvj92RzhvXnbgJJ8YA6ag" alt="" height="120">
            </div>
            <div class="row video-titles">
                Augmented Images Setup | ARCore
            </div>
            <div class="row video-info">
                Hey! Let's Code
            </div>
            <div class="row video-info">
                1,4 mil visualizaciones
            </div>
            <div class="row video-info">
                Hace 4 meses
            </div>
          </div>
          <div class="col-sm-2 video-cell">
            <div class="row">
              <img src="https://i.ytimg.com/vi/hb1fepHU_Jg/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAQo0KPM37VsMn4Hb7U3oDyd1Tvxg" alt="" height="120">
            </div>
            <div class="row video-titles">
                Dragon Ball Z - Best Music Part 2 HD
            </div>
            <div class="row video-info">
                Yahren
            </div>
            <div class="row video-info">
                79 mil visualizaciones
            </div>
            <div class="row video-info">
                Hace 1 mes
            </div>
          </div>
          <div class="col-sm-2 video-cell">
            <div class="row">
              <img src="https://i.ytimg.com/vi/xo9GgWfdymI/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAJtL-fZLC2MZHMIWrbAWLkLoAYJA" alt="" height="120">
            </div>
            <div class="row video-titles">
                EL BANANERO - LA VIDA DESPUES DEL TRAILERAZO
            </div>
            <div class="row video-info">
                EL BANANERO OFICIAL
            </div>
            <div class="row video-info">
                6,4 M visualizaciones
            </div>
            <div class="row video-info">
                Hace 3 años
            </div>
          </div>
          <div class="col-sm-2 video-cell">
            <div class="row">
              <img src="https://i.ytimg.com/vi/rPFGWVKXxm0/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLD9lMoCQvJz8uF8HDlk5n0_FK28og" alt="" height="120">
            </div>
            <div class="row video-titles">
                The Rolling Stones -- Doom And Gloom (Lyric Video)
            </div>
            <div class="row video-info">
                The Rolling Stones
            </div>
            <div class="row video-info">
                20 M visualizaciones
            </div>
            <div class="row video-info">
                Hace 6 años
            </div>
          </div>
  
          <div class="col-sm-1"></div>
        </div>
    
    </div>
  </div>
</div>
